<launch>
	<node 
		pkg="autonomous_car"
		type="camera_node.py"
		name="camera_node"
		respawn="false" />
	<node 
		pkg="autonomous_car"
		type="socket_server_node.py"
		name="socket_server"
		respawn="false"
		/>
	<node
		pkg="autonomous_car"
		type="motor_node.py"
		name="motor_node"
		respawn="true"
		/>
	<node
		pkg="autonomous_car"
		type="log_node.py"
		name="log_node"
		respawn="false"
		/>
</launch>
