body {
    font-family:  Helvetica, Arial, sans-serif;
    margin: 32px;
}

#thrust-gauge g.arc {
    fill: steelblue;
}

#thrust-gauge g.pointer {
    fill: #e85116;
    stroke: #b64011;
}
  
#thrust-gauge g.label text {
    text-anchor: middle;
    font-size: 14px;
    font-weight: bold;
    fill: #666;
}

#steer-gauge g.arc {
    fill: steelblue;
}

#steer-gauge g.pointer {
    fill: #e85116;
    stroke: #b64011;
}
  
#steer-gauge g.label text {
    text-anchor: middle;
    font-size: 14px;
    font-weight: bold;
    fill: #666;
}

#container-thrust {
  position: fixed;
  top: 250px;
  left: 200px;
}

#container-steer{
  position: fixed;
  top: 250px;
  right: 200px;
}